@use "@spider-ui/sass/variables" as *;
@use "@spider-ui/sass/mixins" as *;
@use "@spider-ui/sass";

.tooltip {
  position: relative;
  display: inline-block;
}

::slotted([slot="content"]) {
  @include pointer--none;
  @include opacity--0;

  padding: 4px 6px;
  border-radius: 4px;
  position: absolute;
  display: block;
  transition: opacity ease-out 0.3s;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: center;
  z-index: 1500;
  font-size: 14px;

  .light & {
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #333333;
  }

  .dark & {
    border: none;
    background: #333333;
    color: #efefef;
  }

  .visible & {
    @include pointer--auto;
    @include opacity--1;
  }

  .block-start & {
    left: 0; // This is a fallback.
    bottom: 100%;
    margin: 0 0 $global-arrow-size 0;

    @include create-down-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-fill-color,
      $tooltip-arrow-border-color
    );
  }

  .inline-end & {
    left: 100%;
    margin-left: $global-arrow-size;
    margin-top: 0;
    margin-bottom: 0;
    bottom: auto;
    top: 0; // This is a fallback.

    @include create-left-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-fill-color,
      $tooltip-arrow-border-color
    );
  }

  .inline-start & {
    right: 100%;
    left: auto;
    margin-right: $global-arrow-size;
    margin-top: 0;
    margin-bottom: 0;
    bottom: auto;
    top: 0; // This is a fallback.

    @include create-right-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-fill-color,
      $tooltip-arrow-border-color
    );
  }

  .block-end & {
    left: 0; // This is a fallback.
    top: 100%;
    margin: $global-arrow-size 0 0 0;
    bottom: auto;

    @include create-up-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-fill-color,
      $tooltip-arrow-border-color
    );
  }
}
