@use "@spider-ui/sass";
@use "helpers" as *;

.tooltip {
  position: relative;
  display: inline-block;
}

::slotted([slot="content"]) {
  font-size: $tooltip-font-size;
  padding: $tooltip-padding;
  border-radius: $tooltip-border-radius;
  position: absolute;
  display: block;
  transition: opacity $tooltip-transition;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: center;
  z-index: $z-index-tooltip;

  // modes

  .light & {
    border: $tooltip-border--light;
    background: $tooltip-background-color--light;
    color: $tooltip-color--light;
  }

  .dark & {
    border: $tooltip-border--dark;
    background: $tooltip-background-color--dark;
    color: $tooltip-color--dark;
  }

  // visibility

  .hidden & {
    @include overlay--hidden;
  }

  .visible & {
    @include overlay--visible;
  }

  // position

  .block-start & {
    bottom: 100%;
    margin: 0 0 $global-arrow-size 0;
  }

  .inline-end & {
    @include create-flow-property("left", 100%);
    @include create-flow-property("margin-left", $global-arrow-size);
    margin-top: 0;
    margin-bottom: 0;
    bottom: auto;
    top: 0; // This is a fallback.
  }

  .inline-start & {
    @include create-flow-property("right", 100%);
    @include create-flow-property("left", auto);
    @include create-flow-property("margin-right", $global-arrow-size);
    margin-top: 0;
    margin-bottom: 0;
    bottom: auto;
    top: 0; // This is a fallback.
  }

  .block-end & {
    top: 100%;
    margin: $global-arrow-size 0 0 0;
    bottom: auto;
  }

  // dark mode arrow

  .dark.block-start.arrow & {
    @include create-down-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--dark,
      $tooltip-arrow-border-color--dark
    );
  }

  .dark.inline-end.arrow & {
    @include create-start-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--dark,
      $tooltip-arrow-border-color--dark
    );
  }

  .dark.inline-start.arrow & {
    @include create-end-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--dark,
      $tooltip-arrow-border-color--dark
    );
  }

  .dark.block-end.arrow & {
    @include create-up-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--dark,
      $tooltip-arrow-border-color--dark
    );
  }

  // light mode arrow

  .light.block-start.arrow & {
    @include create-down-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--light,
      $tooltip-arrow-border-color--light
    );
  }

  .light.inline-end.arrow & {
    @include create-start-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--light,
      $tooltip-arrow-border-color--light
    );
  }

  .light.inline-start.arrow & {
    @include create-end-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--light,
      $tooltip-arrow-border-color--light
    );
  }

  .light.block-end.arrow & {
    @include create-up-arrow(
      $tooltip-arrow-offset,
      $tooltip-arrow-background-color--light,
      $tooltip-arrow-border-color--light
    );
  }
}
